
@font-face {
    font-family: 'exo-two';
    font-weight: 400;
    src: url('../fonts/exo2-regular-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
         url('../fonts/exo2-regular-webfont.woff') format('woff'), /* Safari, Android, iOS */
         url('../fonts/exo2-regular-webfont.tff') format('truetype')
}

@font-face {
    font-family: 'exo-two';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/exo2-italic-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
         url('../fonts/exo2-italic-webfont.woff') format('woff'), /* Safari, Android, iOS */
         url('../fonts/exo2-italic-webfont.tff') format('truetype')
}
@font-face {
    font-family: 'exo-two';
    font-weight: 600;
    src: url('../fonts/exo2-bold-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
         url('../fonts/exo2-bold-webfont.woff') format('woff'), /* Safari, Android, iOS */
         url('../fonts/exo2-bold-webfont.tff') format('tff')
}







@font-face {
    font-family: 'jj-bold';
    // font-weight: 400;
    src: url('../fonts/jj_bd-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
         url('../fonts/jj_bd-webfont.woff') format('woff'), /* Safari, Android, iOS */
         url('../fonts/jj_bd-webfont.tff') format('truetype')
}

@font-face {
    font-family: 'opensans-condlight';
    // font-style: italic;
    // font-weight: 400;
    src: url('../fonts/opensans-condlight-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
         url('../fonts/opensans-condlight-webfont.woff') format('woff'), /* Safari, Android, iOS */
         url('../fonts/opensans-condlight-webfont.tff') format('truetype')
}
@font-face {
    font-family: 'opensans-light';
    // font-weight: 600;
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
         url('../fonts/opensans-light-webfont.woff') format('woff'), /* Safari, Android, iOS */
         url('../fonts/opensans-light-webfont.tff') format('tff')
}
@font-face {
    font-family: 'opensans-regular';
    // font-weight: 600;
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
         url('../fonts/opensans-regular-webfont.woff') format('woff'), /* Safari, Android, iOS */
         url('../fonts/opensans-regular-webfont.tff') format('tff')
}
@font-face {
    font-family: 'opensans-semibold';
    // font-weight: 600;
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
         url('../fonts/opensans-semibold-webfont.woff') format('woff'), /* Safari, Android, iOS */
         url('../fonts/opensans-semibold-webfont.tff') format('tff')
}
@font-face {
    font-family: 'unicum-cond-light';
    // font-weight: 600;
    src: url('../fonts/UnicumCondLight.woff2') format('woff2'), /* Serve Woff2 to browsers who accept it fall back to woff below */
         url('../fonts/UnicumCondLight.woff') format('woff'), /* Safari, Android, iOS */
         url('../fonts/UnicumCondLight.tff') format('tff')
}


.ff-semibold {
    font-family: 'opensans-semibold';
}

.ff-jjbold {
    font-family: 'jj-bold';
}

.ff-condlight {
    font-family: 'opensans-condlight';
}

.ff-regular {
    font-family: 'opensans-regular';
}

.ff-unicum {
    font-family: 'unicum-cond-light';
}

$main-font: 'exo-two';


