---
layout: inner-page
---

{{> ad-inner}}
<h1>Авторы</h1>
<div class="inner__container">
	<div class="authrs__links">
		<a href='authors#"'>"</a> 
		<a href='authors#('>(</a> 
		<a href='authors#1'>1</a> 
		<a href='authors#A'>A</a> 
		<a href='authors#B'>B</a> 
		<a href='authors#C'>C</a> 
		<a href='authors#D'>D</a> 
		<a href='authors#F'>F</a> 
		<a href='authors#G'>G</a> 
		<a href='authors#H'>H</a> 
		<a href='authors#J'>J</a> 
		<a href='authors#K'>K</a> 
		<a href='authors#L'>L</a> 
		<a href='authors#M'>M</a> 
		<a href='authors#N'>N</a> 
		<a href='authors#P'>P</a> 
		<a href='authors#R'>R</a> 
		<a href='authors#S'>S</a> 
		<a href='authors#T'>T</a> 
		<a href='authors#W'>W</a> 
		<a href='authors#Y'>Y</a> 
		<a href='authors#i'>i</a> 
		<a href='authors#k'>k</a> 
		<a href='authors#m'>m</a> 
		<a href='authors#«'>«</a> 
		<a href='authors#А'>А</a> 
		<a href='authors#Б'>Б</a> 
		<a href='authors#В'>В</a> 
		<a href='authors#Г'>Г</a> 
		<a href='authors#Д'>Д</a> 
		<a href='authors#Е'>Е</a> 
		<a href='authors#Ж'>Ж</a> 
		<a href='authors#З'>З</a> 
		<a href='authors#И'>И</a> 
		<a href='authors#К'>К</a> 
		<a href='authors#Л'>Л</a> 
		<a href='authors#М'>М</a> 
		<a href='authors#Н'>Н</a> 
		<a href='authors#О'>О</a> 
		<a href='authors#П'>П</a> 
		<a href='authors#Р'>Р</a> 
		<a href='authors#С'>С</a> 
		<a href='authors#Т'>Т</a> 
		<a href='authors#У'>У</a> 
		<a href='authors#Ф'>Ф</a> 
		<a href='authors#Х'>Х</a> 
		<a href='authors#Ц'>Ц</a> 
		<a href='authors#Ч'>Ч</a> 
		<a href='authors#Ш'>Ш</a> 
		<a href='authors#Э'>Э</a> 
		<a href='authors#Ю'>Ю</a> 
		<a href='authors#Я'>Я</a>
		<a href='authors#а'>а</a>
		<a href='authors#р'>р</a>
	</div>

	{{> authors__card}}
	{{> authors__card}}

</div>