---
layout: inner-page
---

{{> ad-inner}}
<h1>Нурсултан Назарбаев расширил границы Астаны</h1>

{{> breadcrumbs}}

<div class="inner__container clearfix">
	<div class="blog__page-author">
		<div class="blog__page-avatar style-bgi small-centered" style="background-image: url('http://www.fillmurray.com/300/200')"></div>
		<div class="blog__page-whois">
			<div class="blog__page-name">Автор: <span>Виктор Бурдин</span></div>
			<div class="blog__page-role">заместитель главного редактора сайта Forbes.kz</div>
			<div class="read-more float-left"><a href="#">Другие посты автора ⟶</a></div>
		</div>
	</div>
	<h2>Соответствующий указ, как передает пресс-служба Акорды, президент Казахстана подписал в понедельник, 6 февраля</h2>
	<article class="blog-page__article">
		<p>
		В соответствии со статьей 9 Закона РК от 8 декабря 1993 «Об административно-территориальном устройстве Республики Казахстан» Нурсултан Назарбаев постановил изменить границы города Астаны.
	</p>
	<p>
		Теперь в черту столицы включена часть земель <strong>Целиноградского района Акмолинской</strong> области общей площадью 8 719 гектар, уточняет пресс-служба Акорды.
	</p>
	<p>
		Указ вводится в действие со дня его первого официального опубликования. 
	</p>
	<p>
		<em>Кроме того, на сайте Акорды опубликовано приложение к документу.</em>
	</p>
	{{> read-also}}
	<p>
		В соответствии со статьей 9 Закона РК от 8 декабря 1993 «Об административно-территориальном устройстве Республики Казахстан» Нурсултан Назарбаев постановил изменить границы города Астаны.
	</p>
	<p>
		Теперь в черту столицы включена часть земель <strong>Целиноградского района Акмолинской</strong> области общей площадью 8 719 гектар, уточняет пресс-служба Акорды.
	</p>
	<p>
		Указ вводится в действие со дня его первого официального опубликования. 
	</p>
	<p>
		<em>Кроме того, на сайте Акорды опубликовано приложение к документу.</em>
	</p>
	<p>
		В соответствии со статьей 9 Закона РК от 8 декабря 1993 «Об административно-территориальном устройстве Республики Казахстан» Нурсултан Назарбаев постановил изменить границы города Астаны.
	</p>
	<p>
		Теперь в черту столицы включена часть земель <strong>Целиноградского района Акмолинской</strong> области общей площадью 8 719 гектар, уточняет пресс-служба Акорды.
	</p>
	<p>
		Указ вводится в действие со дня его первого официального опубликования. 
	</p>
	<p>
		<em>Кроме того, на сайте Акорды опубликовано приложение к документу.</em>
	</p>	
	</article>
</div>
{{> mistake}}
{{> watches}}
{{> recommended}}
{{> partner-news}}
{{> inner-read-also-block}}