
<div class="row">
	<a href="kitchen-sink.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Kitchen-Sink
		</div>
	</a>
	<a href="main.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Main
		</div>
	</a>
	<a href="inner-news.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Inner-News
		</div>
	</a>
	<a href="rubric.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Rubric
		</div>
	</a>
	<a href="profile-rating.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Profile-rating
		</div>
	</a>
	<a href="authors.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Authors
		</div>
	</a>
	<a href="travels.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Travels
		</div>
	</a>
	<a href="blog.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Blog
		</div>
	</a>
	<a href="blog-page.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Blog-page
		</div>
	</a>
	<a href="search.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Search
		</div>
	</a>
	<a href="archive-magazines.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Archive of magazines
		</div>
	</a>
	<a href="archive.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Archive
		</div>
	</a>
	<a href="rating.html" style="">
		<div class="" style="padding: 15px 25px; color: #0091ff">
			Rating
		</div>
	</a>

</div>