---
layout: inner-page
---
<h1>Нурсултан Назарбаев расширил границы Астаны</h1>
{{> breadcrumbs}}
<h2>Соответствующий указ, как передает пресс-служба Акорды, президент Казахстана подписал в понедельник, 6 февраля</h2>
<article class="inner-news">
	<div class="article__img">
		{{> article-img-autor}}
		<img src="img/news-inner.jpg" alt="">
		<div class="text-center"><em>Подпись к фотографии</em></div>
	</div>
	<p>
		В соответствии со статьей 9 Закона РК от 8 декабря 1993 «Об административно-территориальном устройстве Республики Казахстан» Нурсултан Назарбаев постановил изменить границы города Астаны.
	</p>
	<p>
		Теперь в черту столицы включена часть земель <strong>Целиноградского района Акмолинской</strong> области общей площадью 8 719 гектар, уточняет пресс-служба Акорды.
	</p>
	<p>
		Указ вводится в действие со дня его первого официального опубликования. 
	</p>
	<p>
		<em>Кроме того, на сайте Акорды опубликовано приложение к документу.</em>
	</p>
	{{> read-also}}
	<p>
		В соответствии со статьей 9 Закона РК от 8 декабря 1993 «Об административно-территориальном устройстве Республики Казахстан» Нурсултан Назарбаев постановил изменить границы города Астаны.
	</p>
	<p>
		Теперь в черту столицы включена часть земель <strong>Целиноградского района Акмолинской</strong> области общей площадью 8 719 гектар, уточняет пресс-служба Акорды.
	</p>
	<p>
		Указ вводится в действие со дня его первого официального опубликования. 
	</p>
	<p>
		<em>Кроме того, на сайте Акорды опубликовано приложение к документу.</em>
	</p>
	<p>
		В соответствии со статьей 9 Закона РК от 8 декабря 1993 «Об административно-территориальном устройстве Республики Казахстан» Нурсултан Назарбаев постановил изменить границы города Астаны.
	</p>
	<p>
		Теперь в черту столицы включена часть земель <strong>Целиноградского района Акмолинской</strong> области общей площадью 8 719 гектар, уточняет пресс-служба Акорды.
	</p>
	<p>
		Указ вводится в действие со дня его первого официального опубликования. 
	</p>
	<p>
		<em>Кроме того, на сайте Акорды опубликовано приложение к документу.</em>
	</p>	
</article>
{{> mistake}}
{{> watches}}
{{> authors}}
{{> recommended}}
{{> partner-news}}
{{> inner-read-also-block}}