<section class="kitchen" style="padding: 50px 0">

	<div style="padding: 20px 0">Menu/Top
		<div class="row">
			{{> header}}
		</div>
	</div>

	<div style="padding: 20px 0">Menu/Nav
		{{> menu-nav}}
	</div>

	<div style="padding: 20px 0">Menu/Frobes
		{{> menu-forbes}}
	</div>
	<div style="padding: 20px 0">Menu/Categories
		{{> menu-categ}}
	</div>
	<div style="padding: 20px 0">Icons 
		<svg width="20" height="20">
			<use xlink:href="#ico-read" />
		</svg>
		<svg width="20" height="20">
			<use xlink:href="#ico-time" />
		</svg>
		<svg width="20" height="20">
			<use xlink:href="#ico-user" />
		</svg>
		<svg width="20" height="20">
			<use xlink:href="#ico-views" />
		</svg>
		<svg width="20" height="20">
			<use xlink:href="#ico-arrow-alt" />
		</svg>
		<svg width="20" height="20">
			<use xlink:href="#ico-book" />
		</svg>
		<svg width="20" height="20">
			<use xlink:href="#ico-arrow" />
		</svg>
	</div>
	
	<div style="padding: 20px 0">Menu/Money-Rate
		{{> money-rate-grow}}
		{{> money-rate-fall}}
	</div>

	<div style="padding: 20px 0">Main/News small
		{{> card-news-small}}
	</div>

	<div style="padding: 20px 0">Main/AD Top
		{{> ad-top}}
	</div>

	<div style="padding: 20px 0">AD Inner
		{{> ad-inner}}
	</div>

	<div style="padding: 20px 0">AD Side
		{{> ad-side}}
	</div>

	<div style="padding: 20px 0">Main/Menu inner
		{{> menu-categ-inner}}
	</div>


</section>