---
layout: inner-page
---

<h1>Булат Утемуратов</h1>
<div class="inner__container">
	<div class="float-left">
			{{> card-profile-rating}}
	</div>
	<div class="prorate__about">
		<div class="prorate__about-title link-style">
			Рейтинг рантье Казахстана (ноябрь 2016)
		</div>
		<article class="prorate__about-content">
			<p>
				<strong>Предполагаемая выручка:</strong> 3,1 млрд тенге
			</p>
			<p>
				<strong>Девелопер/застройщик/управляющая компания:</strong> Global Development
			</p>
			<p>
				<strong>Объекты:</strong> БЦ Park View Tower, БЦ Prime Business Park, БЦ «Тан», БЦ «Жартас»
			</p>
			<p>
				<strong>Общая коммерческая площадь:</strong> 36,9 тыс. кв. м
			</p>
			<p>
				Инвестором многофункционального комплекса Talan Towers в Астане выступает инвестиционная компания «Верный Капитал», аффилированная с Булатом Утемуратовым (№1 рейтинга богатых).
			</p>
			<p>
				<strong>Рейтинг 50 самых влиятельных бизнесменов (октябрь 2016)</strong>
			</p>
			<p>
				<strong>58 лет</strong>
			</p>
			<p>
				<strong>ГМК, банки, телеком, инвестиции, девелопмент</strong>
			</p>
			<p>
				Управляющая компания «Верный Капитал», аффилированная с Булатом Утемуратовым, владеет отелями Ritz-Carlton в Вене и Москве, отелем Rixos Borovoe, франшизой фастфуда Burger King в Казахстане, информационно-аналитическим интернет-порталом Informburo.kz, телерадиокомпанией «31 канал», девелоперской компанией Global Development. Напрямую Утемуратов является миноритарным акционером транснационального трейдера Glencore Plc, мажоритарным акционером ForteBank, контролирует 25 % ТОО «КаР-Тел» и 49,9 % ООО «Sky Mobile» (операторы связи «Билайн» в Казахстане и Кыргызстане соответственно).
			</p>
			<p>
				Бизнесмен входит в совет директоров Международной теннисной федерации ITF, возглавляет Казахстанскую теннисную федерацию и собственный благотворительный фонд «Асыл Мирас».
			</p>
		</article>
	</div>
	{{> watches}}
</div>