<div class="authors">
	<div class="authors__title">Об авторах:</div>
	<ul class="authors__list menu-common">
		<li class="author is-table">
			<div class="author__img is-tcell">
				<a href="">
					<img src="http://www.fillmurray.com/300/300" alt="">
				</a>
			</div>
			<div class="author__info is-tcell">
				<div class="author__name">
					<a href="">Иван Иванов</a>
				</div>
				<div class="author__pos">главный редактор Forbes Auto</div>
			</div>
		</li>

		<li class="author is-table">
			<div class="author__img is-tcell">
				<a href="">
					<img src="http://www.fillmurray.com/300/300" alt="">
				</a>
			</div>
			<div class="author__info is-tcell">
				<div class="author__name">
					<a href="">Руслан Длиннофамильцев</a>
				</div>
				<div class="author__pos">главный редактор Forbes Auto</div>
			</div>
		</li>
		
		<li class="author is-table">
			<div class="author__img is-tcell">
				<a href="">
					<img src="http://www.fillmurray.com/300/300" alt="">
				</a>
			</div>
			<div class="author__info is-tcell">
				<div class="author__name">
					<a href="">Иван Иванов</a>
				</div>
				<div class="author__pos"></div>
			</div>
		</li>

		<li class="author is-table">
			<div class="author__img is-tcell">
				<a href="">
					<img src="http://www.fillmurray.com/300/300" alt="">
				</a>
			</div>
			<div class="author__info is-tcell">
				<div class="author__name">
					<a href="">Руслан Длиннофамильцев</a>
				</div>
				<div class="author__pos">главный редактор Forbes Auto</div>
			</div>
		</li>


	</ul>
</div>