<div class="ra-card is-table">
	<div class="ra-card__img is-tcell">
		<img src="img/ra-card-img.jpg" alt="">
	</div>
	<div class="ra-card__info is-tcell">
		<div class="ra-card__title">Кайрат Боранбаев управляет 75 ресторанами McDonald's на Урале за доллары</div>
		<div class="ra-card__subtitle">Что пишут о Казахстане: обзор зарубежной прессы (2 февраля)</div>
		<div class="news__data">
			<span class="ra-card__authors float-right">
				{{> news-author}}
				{{> news-author}}
				{{> news-author}}
			</span>
			<span class="details float-left">
				<span class="details-date">07 февраля 2017</span>
				{{> details-read}}
				{{> details-views}}
			</span>
		</div>
	</div>
</div>