<div class="recommended">
	<ul class="menu-common tab-nav" data-tab-group="#recommended__articles">
		<li class="recommended__button"><button class="tab-control is-active" data-target="#tab-1">Статьи по теме</button></li>
		<li class="recommended__button"><button class="tab-control" data-target="#tab-2">Другие статьи автора</button></li>
		<li class="recommended__button"><button class="tab-control" data-target="#tab-3">Другие статьи рубрики</button></li>
	</ul>
	<div class="tab-group recommended__container" id="recommended__articles">
		<div id="tab-1" class="tab is-active">
			{{> card-see-also}}
			{{> card-see-also}}
			{{> card-see-also}}
			{{> card-see-also}}
		</div>
		<div id="tab-2" class="tab">
			{{> card-see-also}}
		</div>
		<div id="tab-3" class="tab">
			{{> card-see-also}}
			{{> card-see-also}}
		</div>
		<div id="tab-4" class="tab">
			tab4
		</div>
	</div>
</div>