<div class="watches is-table">
	<div class="watches__num is-tcell">
		<span>3156</span> просмотров
	</div>
	<ul class="watches__soc menu-common is-tcell">
		<li class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-tg" />
			</svg>
			<div class="soc-count">
				21
			</div>
		</li>
		<li class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-in" />
			</svg>
			<div class="soc-count">
				21
			</div>
		</li>
		<li class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-fb" />
			</svg>
			<div class="soc-count">
				21
			</div>
		</li>
		<li class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-vk" />
			</svg>
			<div class="soc-count">
				21
			</div>
		</li>
		<li class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-tw" />
			</svg>
			<div class="soc-count">
				21
			</div>
		</li>
	</ul>
</div>