<div class="news__single">
		<div class="news__img">
			<a href="">
				<div class="news__img-holder style-bgi is-single" style="background-image: url('../img/news-top-img.jpg')"></div>
			</a>
		</div>
		<div class="news__info is-single">
			{{> card-news-tag}}
			<a class="news__title is-single">
				Первая партия зерна из Казахстана отправилась во Вьетнам через Китай
			</a>
			<div class="news__descr">
				В понедельник, 6 февраля, на сайте Казахстанской фондовой биржи были опубликованы итоги дневной сессии
			</div>
			<div class="news__data is-single">
				<span class="card-authors">
					{{> news-author}}
				</span>
				<span class="details float-right">
					{{> details-read}}
					{{> details-views}}
				</span>
			</div>
		</div>
</div>