
<div class="news__small">

	<div class="news__img is-small" >
		<a href=""><div class="news__img-holder style-bgi" style="background-image: url('../img/news-small-img.jpg')"></div></a>
		<!--<div class="news__img-holder">
			<img src="img/news-small-img.jpg" alt="">
		</div> -->
	</div>

	<div class="news__info is-small">
		<div class="news__title is-small">
			<a href="">
				Первая партия зерна из Казахстана отправилась во Вьетнам через Китай 3 строка
			</a>
		</div>

		<div class="news__data">
			{{> news-author}}
			<span class="details float-right">
				{{> details-read}}
				{{> details-views}}
			</span>
		</div>
	</div>
		
</div>