<div class="news__hero">
		<div class="news__img">
			<img src="img/news-top-img.jpg" alt="">
		</div>
		<!--<div class="news__img style-bgi" style="background-image: url('../img/news-top-img.jpg')">
		</div>-->
		<a href="#" class="news__hero-overlay"></a>
		<div class="news__info">
			<a class="news__title">
					Первая партия зерна из Казахстана отправилась во Вьетнам через Китай 3 строка
			</a>
			<div class="news__data is-white">
				{{> news-author}}
				<span class="details is-white float-right">
					{{> details-read}}
					{{> details-views}}
				</span>
			</div>
		</div>
</div>
