<div class="blog__card">
	<div class="blog__top">
		<div class="news__img">
			<a href=""><div class="img-holder is-blog style-bgi" style="background-image: url('../img/blog-img.jpg')"></div></a>
		</div>
		<div class="news__info blog__info">
			<a href="#" class="blog__name news__title">
					Саян Комбаров
			</a>
			<div class="blog__position">финансовый директор ТОО «Эковатт»:</div>
		</div>
	</div>
	<div class="blog__content">
		Для долгосрочной стабильности общества важны три ресурса: продовольствие, энергия и вода. Их производство требует ускоренной технологической модернизации, о которой сказано в недавнем послании
	</div>
	<div class="blog__info is-table">
		<span class="details is-tcell">
			{{> details-read}}
			{{> details-views}}
		</span>
		<span class="read-more is-tcell">
			{{> card-read-more}}
		</span>
	</div>
</div>