<div class="blog__card news__subnews">
	<div class="blog__top">
		<div class="news__img">
			<a href=""><div class="img-holder is-subnews style-bgi" style="background-image: url('../img/subnews-img.jpg')"></div></a>
		</div>
		<div class="news__info blog__info">
			{{> card-news-tag}}
			<a href="#" class="blog__name news__title">
					Послание 2017: кто экономический советник?
			</a>
			<!--<div class="blog__position">финансовый директор ТОО «Эковатт»:</div>-->
		</div>
	</div>
	<div class="subnews__content">
		В послании этого года есть важные акценты в сфере экономической политики и структурных реформ, которые принципиально противоречат друг другу с идеологической точки зрения
	</div>
	<!--<div class="blog__info is-table">
		<span class="details is-tcell">
			{{> details-read}}
			{{> details-views}}
		</span>
		<span class="read-more is-tcell">
			{{> card-read-more}}
		</span>
	</div>-->
</div>