<footer>
	<div class="row">
		<div class="footer-top">
			<div class="row">
				<div class="footer__nav column small-8">
					<ul class="menu-common menu-vert footer__nav-elements ">
						<li class="footer__nav-element"><a href="">Главная</a></li>
						<li class="footer__nav-element">
							<span><a href="">Новости</a></span>
							<ul class="sub-elements footer__nav-sub">
								<li class="sub-element"><a href="">Биржевые новости</a></li>
								<li class="sub-element"><a href="">Мировые новости</a></li>
								<li class="sub-element"><a href="">Биржевые новости</a></li>
								<li class="sub-element"><a href="">Новости Казахстана</a></li>
							</ul>
						</li>
						<li class="footer__nav-element"><a href="">Процесс</a></li>
							<ul class="sub-elements footer__nav-sub">
								<li class="sub-element"><a href="">Интернет</a></li>
								<li class="sub-element"><a href="">Медицина</a></li>
								<li class="sub-element"><a href="">Назначения и отставки</a></li>
								<li class="sub-element"><a href="">Наука</a></li>
								<li class="sub-element"><a href="">Недвижимость</a></li>
								<li class="sub-element"><a href="">Образование</a></li>
								<li class="sub-element"><a href="">Предприниматели</a></li>
								<li class="sub-element"><a href="">Расследование</a></li>
								<li class="sub-element"><a href="">Слово редактора</a></li>
								<li class="sub-element"><a href="">Технологии / Связь</a></li>
								<li class="sub-element"><a href="">Урбанистика</a></li>
								<li class="sub-element"><a href="">Экобизнес</a></li>
								<li class="sub-element"><a href="">Экономика / Промышленность</a></li>
								<li class="sub-element"><a href="">Экспертиза</a></li>
								<li class="sub-element"><a href="">Энергетика</a></li>
							</ul>
						<li class="footer__nav-element"><a href="">Финансы/Маркетинг</a></li>
							<ul class="sub-elements footer__nav-sub">
								<li class="sub-element"><a href="">Биржа</a></li>
								<li class="sub-element"><a href="">Госзакупки</a></li>
								<li class="sub-element"><a href="">Инвестиции</a></li>
								<li class="sub-element"><a href="">Интеграция</a></li>
								<li class="sub-element"><a href="">Реклама</a></li>
								<li class="sub-element"><a href="">Рынки</a></li>
								<li class="sub-element"><a href="">Страхование</a></li>
								<li class="sub-element"><a href="">Финансы</a></li>
							</ul>
						<li class="footer__nav-element"><a href="">Статистика</a></li>
						<li class="footer__nav-element"><a href="">Forbes Лидер</a></li>
						<li class="footer__nav-element"><a href="">Forbes Рейтинг</a></li>
						<li class="footer__nav-element"><a href="">Forbes Life</a></li>
							<ul class="sub-elements footer__nav-sub">
								<li class="sub-element"><a href="">Афиша</a></li>
								<li class="sub-element"><a href="">Взгляд</a></li>
								<li class="sub-element"><a href="">Герой</a></li>
								<li class="sub-element"><a href="">Мнение</a></li>
								<li class="sub-element"><a href="">Взгляд</a></li>
								<li class="sub-element"><a href="">Герой</a></li>
								<li class="sub-element"><a href="">Мнение</a></li>
								<li class="sub-element"><a href="">Мысли</a></li>
								<li class="sub-element"><a href="">Наблюдение</a></li>
							</ul>
						<li class="footer__nav-element"><a href="">Forbes Woman</a></li>
						<li class="footer__nav-element"><a href="">Масс-медиа</a></li>
						<li class="footer__nav-element"><a href="">Путешествия</a></li>
						<li class="footer__nav-element"><a href="">Блоги</a></li>
						<li class="footer__nav-element"><a href="">Архив номеров</a></li>
						<li class="footer__nav-element"><a href="">Контакты</a></li>
					</ul>
				</div>
				<div class="column small-3"> 
						<a href="">
							<img src="img/logo-white.svg" alt="">
						</a>
						<ul class="menu-common menu-vert footer__nav-small ">
							<li><a href="">Редакция сайта</a></li>
							<li><a href="">Реклама на сайте</a></li>
							<li><a href="">Соглашение об использовании материалов</a></li>
						</ul>
						<a class="choise" href="https://forbes.kz/massmedia/forbeskz_priznan_delovyim_internet-izdaniem_1_v_kazahstane?utm_source=forbes&utm_medium=choiseoftheyear&utm_campaign=footer">
							<img src="img/choise_of_the_year_2015.png" alt="">
						</a>
				</div>
			</div>
		</div>
		<div class="footer-bot is-table">
			<div class="copies is-tcell">
				<span>© 2017 United Media Group</span>	
				<span>© 2017 Forbes.com LLC™ All Rights Reserved</span>
			</div>
			<ul class="footer__informers menu-common is-tcell">
				<li class="informer">
					<img src="img/informer-1.jpg" alt="">
				</li>
				<li class="informer">
					<img src="img/informer-2.jpg" alt="">
				</li>
				<li class="informer">
					<img src="img/informer-3.jpg" alt="">
				</li>
			</ul>
			<div class="made-by is-tcell">
				<a href="http://interattiva.kz" target="_blank">
					Создано в  
						<svg width="20" height="20">
							<use xlink:href="#interattiva-logo" />
						</svg>
					INTERATTIVA
				</a>
			</div>
		</div>
	</div>
</footer>