<header>
	<div class="langs">
		<a href="" class="is-active">Рус</a>
		<a href="" class="">Каз</a>
		<a href="" class="">Eng</a>
	</div>

	<div class="logo">
		<img src="img/logo.svg" alt="">
	</div>
	
	<div class="socials">
		<a href=""  target="_blank" class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-fb" />
			</svg>
		</a>
		<a href="" target="_blank" class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-vk" />
			</svg>
		</a>
		<a href="" target="_blank" class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-yt" />
			</svg>
		</a>
		<a href="" target="_blank" class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-tw" />
			</svg>
		</a>
		<a href="" target="_blank" class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-tg" />
			</svg>
		</a>
		<a href="" target="_blank" class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-in" />
			</svg>
		</a>
		<a href="" target="_blank" class="soc-ico">
			<svg width="50%" height="50%">
				<use xlink:href="#ico-rss" />
			</svg>
		</a>
	</div>
</header>