<div class="side form-subs gray-bg">
		<div class="form-subs__subtitle">
			Самые интересные материалы сайта у тебя на почте! 
		</div>
		<div class="side__title form-subs__title ">Подпишись на рассылку</div>
	<form action="/ajax/tools/submitSubscribe/" method="post">

		<div class="form-field">
			<label for="subs-name">Ваше имя</label>
			<input class="input" id="subs-name" type="text" placeholder="" name="subs-name">
		</div>

		<div class="form-field">
			<label for="subs-email">Адрес электронной почты:</label>
			<input class="input" id="subs-email" type="text" placeholder="" name="subs-email">
		</div>
		
		<button class="button" type="submit">Подписаться
			<svg width="20" height="20">
				<use xlink:href="#ico-arrow" />
			</svg>
		</button>
	</form>
</div>