<div class="popular-discuss is-tcell gray-bg">
	<div class="popular-discuss__container">
		<div class="popular-discuss__content">
			<a href="">
				Новый заместитель председателя правления назначен в фонде «Даму»
			</a>
		</div>
		<div class="social-sharing is-table">
				<div class="is-tcell">
					<svg width="9" height="9">
						<use xlink:href="#ico-fb" />
					</svg>
					: <span>285</span>
				</div>
				<div class="is-tcell">
					<svg width="9" height="9">
						<use xlink:href="#ico-tw" />
					</svg>
					: <span>285</span>
				</div>
				<div class="is-tcell">
					<svg width="9" height="9">
						<use xlink:href="#ico-vk" />
					</svg>
					: <span>285</span>
				</div>
				<div class="is-tcell">
					<svg width="9" height="9">
						<use xlink:href="#ico-in" />
					</svg>
					: <span>285</span>
				</div>
		</div>
	</div>
</div>