<div class="side atameken">
	<div class="atameken__logo">
		<img src="img/ata-logo.png" alt="">
	</div>
	<div class="atameken-wrapper">
		<div class="atameken__content is-table">
			<a href="">
				<div class="atameken__img is-tcell">
						<div class="img__holder is-ata style-bgi" style="background-image: url('../img/ata-img.jpg')"></div>
				</div>
				<div class="atameken__info is-tcell">
					В Ассоциации финансистов Казахстана новый руководитель
				</div>
			</a>
		</div>
		<div class="read-more">
			{{> card-read-other}}
		</div>
	</div>
</div>