<div class="side birthday gray-bg">

	<div class="side__title">6 Февраля родились</div>
	<div class="birthday__people">
		<div class="birthday__person">
			<a href="">
				<div class="birthday__person-name news__title">Абельгази Кусаинов</div>
				<div class="birthday__person-who">Глава федерации профсоюзов РК</div>
			</a>
		</div>
		<div class="birthday__person">
			<a href="">
				<div class="birthday__person-name news__title">Абельгази Кусаинов</div>
				<div class="birthday__person-who">Глава федерации профсоюзов РК</div>
			</a>
		</div>

	</div>
</div>