<div class="sa-block">
	{{> menu-categ-noarrow}}
	<div class="news__materials">
			<div class="news__img">
				<a href="">
					<div class="news__img-holder style-bgi is-nano" style="background-image: url('../img/news-top-img.jpg')"></div>
				</a>
			</div>
			<div class="news__info is-nano">
				<a class="news__title is-nano">
					Вредные дети
				</a>
				<div class="news__data is-nano">
					<!--{{> news-author}}-->
					<!--<span class="details float-right">
						{{> details-read}}
						{{> details-views}}
					</span>-->
				</div>
			</div>
	</div>
	<div class="news__materials">
			<div class="news__img">
				<a href="">
					<div class="news__img-holder style-bgi is-nano" style="background-image: url('../img/news-top-img.jpg')"></div>
				</a>
			</div>
			<div class="news__info is-nano">
				<a class="news__title is-nano">
					Вредные дети
				</a>
				<div class="news__data is-nano">
					<!--{{> news-author}}-->
					<!--<span class="details float-right">
						{{> details-read}}
						{{> details-views}}
					</span>-->
				</div>
			</div>
	</div>
	<div class="news__materials">
			<div class="news__img">
				<a href="">
					<div class="news__img-holder style-bgi is-nano" style="background-image: url('../img/news-top-img.jpg')"></div>
				</a>
			</div>
			<div class="news__info is-nano">
				<a class="news__title is-nano">
					Вредные дети
				</a>
				<div class="news__data is-nano">
					<!--{{> news-author}}-->
					<!--<span class="details float-right">
						{{> details-read}}
						{{> details-views}}
					</span>-->
				</div>
			</div>
	</div>
	<div class="news__materials">
			<div class="news__img">
				<a href="">
					<div class="news__img-holder style-bgi is-nano" style="background-image: url('../img/news-top-img.jpg')"></div>
				</a>
			</div>
			<div class="news__info is-nano">
				<a class="news__title is-nano">
					Вредные дети
				</a>
				<div class="news__data is-nano">
					<!--{{> news-author}}-->
					<!--<span class="details float-right">
						{{> details-read}}
						{{> details-views}}
					</span>-->
				</div>
			</div>
	</div>
	<div class="news__materials">
			<div class="news__img">
				<a href="">
					<div class="news__img-holder style-bgi is-nano" style="background-image: url('../img/news-top-img.jpg')"></div>
				</a>
			</div>
			<div class="news__info is-nano">
				<a class="news__title is-nano">
					Вредные дети
				</a>
				<div class="news__data is-nano">
					<!--{{> news-author}}-->
					<!--<span class="details float-right">
						{{> details-read}}
						{{> details-views}}
					</span>-->
				</div>
			</div>
	</div>
	<div class="news__materials">
			<div class="news__img">
				<a href="">
					<div class="news__img-holder style-bgi is-nano" style="background-image: url('../img/news-top-img.jpg')"></div>
				</a>
			</div>
			<div class="news__info is-nano">
				<a class="news__title is-nano">
					Вредные дети
				</a>
				<div class="news__data is-nano">
					<!--{{> news-author}}-->
					<!--<span class="details float-right">
						{{> details-read}}
						{{> details-views}}
					</span>-->
				</div>
			</div>
	</div>


</div>