<div class="side editor gray-bg">
	<div class="editor__top is-table">
		<div class="editor__person is-tcell">
			<div class="side__title">Выбор редактора</div>
			<div class="editor__name"><a href="">Анастасии Новиковой</a></div>
		</div>
		<div class="editor__ava is-tcell">
			<a href="">
				<img src="http://www.fillmurray.com/300/200" alt="">
			</a>
		</div>
	</div>
	<div class="editor__theme is-table">
		<a href="">
			<div class="editor__theme-img is-tcell">
				<div class="img-holder style-bgi" style="background-image: url('../img/editor-img.jpg')"></div>
			</div>
			<div class="editor__theme-title is-tcell">
				Почему бизнесмену года Айдыну Рахимбаеву не везет с халявой
			</div>
		</a>
	</div>
	<div class="read-more">
		{{> card-read-other}}
	</div>
</div>