<div class="column column-block">
	<div class="travel__card">
		<div class="is-trow">
			<div class="travel__card-img style-bgi is-tcell" style="background-image:url('http://www.fillmurray.com/300/200')">
				<div class="overlay"></div>
				<span>Страна</span>
			</div>
		</div>
		<div class="is-trow">
			<div class="travel__card-body is-tcell">
				<div class="travel__card-title">
					В столице Литвы живут самые счастливые жители в Европе
				</div>
				<div class="travel__card-data">
					<span class="card-authors">
						{{> news-author}}
					</span>
					<span class="details float-right">
						{{> details-read}}
						{{> details-views}}
					</span>
				</div>
			</div>
		</div>
	</div>
</div>