<div class="authrs__card">
	<h3 class="authrs__card-head">А</h3>
	<ul class="menu-common menu-vert authrs__card-body">
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Астаны Пресс-служба акима</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
		<li><a href="">Абдразаков Ельдар</a></li>
	</ul>
</div>