	<div class="menu-desktop" data-js-menu-desktop>
		<div class="row menu-desktop__container column">
			<div class="menu-desktop__nav">
				<div class="column small-2">
						<div id="" class="menu-nav" data-js-burger>
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>

					<div class="menu-desktop__logo text-right">
						<img src="img/logo-white.svg" alt="">
					</div>

				</div>
				<div class="column small-3">

					<div class="socials menu-desktop__soc">
						<a href=""  target="_blank" class="soc-ico">
							<svg width="50%" height="50%">
								<use xlink:href="#ico-fb" />
							</svg>
						</a>
						<a href="" target="_blank" class="soc-ico">
							<svg width="50%" height="50%">
								<use xlink:href="#ico-vk" />
							</svg>
						</a>
						<a href="" target="_blank" class="soc-ico">
							<svg width="50%" height="50%">
								<use xlink:href="#ico-yt" />
							</svg>
						</a>
						<a href="" target="_blank" class="soc-ico">
							<svg width="50%" height="50%">
								<use xlink:href="#ico-tw" />
							</svg>
						</a>
						<a href="" target="_blank" class="soc-ico">
							<svg width="50%" height="50%">
								<use xlink:href="#ico-tg" />
							</svg>
						</a>
						<a href="" target="_blank" class="soc-ico">
							<svg width="50%" height="50%">
								<use xlink:href="#ico-in" />
							</svg>
						</a>
						<a href="" target="_blank" class="soc-ico">
							<svg width="50%" height="50%">
								<use xlink:href="#ico-rss" />
							</svg>
						</a>
					</div>

				</div>
			</div>
			<div class="menu-desktop__list is-table">
				<div class="menu-desktop__element is-tcell">
					<div class="menu-desktop__title">Основные рубрики</div>
					<ul class="menu-desktop__links menu-common menu-vert">
						<li><a href="">Главная</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Процесс</a></li>
						<li><a href="">Финансы / Маркетинг</a></li>
						<li><a href="">Статистика</a></li>
					</ul>
				</div>
				<div class="menu-desktop__element is-tcell">
					<div class="menu-desktop__title">Forbes</div>
					<ul class="menu-desktop__links menu-common menu-vert">
						<li><a href="">Forbes Рейтинг</a></li>
						<li><a href="">Forbes Лидер</a></li>
						<li><a href="">Forbes Life</a></li>
						<li><a href="">Forbes Woman</a></li>
					</ul>
				</div>
				<div class="menu-desktop__element is-tcell">
					<div class="menu-desktop__title">Медиа</div>
					<ul class="menu-desktop__links menu-common menu-vert">
						<li><a href="">Масс-медиа</a></li>
						<li><a href="">Путешествия</a></li>
						<li><a href="">Блоги</a></li>
						<li><a href="">Архив номеров</a></li>
					</ul>
				</div>
				<div class="menu-desktop__element is-tcell">
					<div class="menu-desktop__title">Информация</div>
					<ul class="menu-desktop__links menu-common menu-vert">
						<li><a href="">Контакты</a></li>
						<li><a href="">Редакция сайта</a></li>
						<li><a href="">Реклама на сайте</a></li>
						<li><a href="">Соглашение об использовании материалов</a></li>
					</ul>
				</div>
			</div>
			<div class="menu-desktop__footer clearfix">
				<div class="copies float-left">
					<span>© 2017 United Media Group</span>	
					<span>© 2017 Forbes.com LLC™ All Rights Reserved</span>
				</div>
				
				<div class="made-by float-right">
					<a href="http://interattiva.kz" target="_blank">
						Создано в  
							<svg width="20" height="20">
								<use xlink:href="#interattiva-logo" />
							</svg>
						INTERATTIVA
					</a>
				</div>
			</div>
		</div>
	</div>