<nav>
	<div class="nav-height" >
		<div class="nav-wrapper row" data-js-sticky>
			<ul class="nav__elements">
				<li class="burger nav__element">
					<!--<img src="img/burger.svg" alt="">-->
					<div id="nav-icon3" class="nav-icon3" data-js-burger>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</li>
				<li class="nav__element is-active"><a href="" class="nav__link">Главная</a></li>
				<li class="nav__element"><a href="" class="nav__link">Новости</a></li>
				<li class="nav__element"><a href="" class="nav__link">Процесс</a></li>
				<li class="nav__element"><a href="" class="nav__link">Финансы / маркетинг</a></li>
				<li class="nav__element"><a href="" class="nav__link">Новости</a></li>
				<li class="nav__element"><a href="" class="nav__link">Процесс</a></li>
				<li class="nav__element"><a href="" class="nav__link">Финансы / маркетинг</a></li>
			</ul>
			<form action="" class="search__field">
				<input type="search">
				
			</form>
		</div>
	</div>
</nav>