<!doctype html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="wrapper">
        <header class="header"><!-- ... --></header>
      {{> body}}
    </div>  
    <footer class="footer"><!-- ... --></footer>
    <script src="js/app.min.js"></script>
  </body>
</html>
