<!doctype html>
<html class="" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbes - Инструмент капиталиста. Деловой журнал. Бизнес, карьера, финансы, предприниматели, рынки. Мнения, идеи, рейтинги, блоги.</title>
    <link href="img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    {{> svg-socials}}
    {{> svg-icons}}
    <div class="wrapper">
        {{#ifpage 'main'}}
          <div class="row column">
            {{> ad-top}}
          </div>
        {{/ifpage}}
        <div class="row column">
          {{> header}}
        </div>
        {{> menu-nav}}
        <!--<header class="header"> ... </header>-->
      {{> body}}
    </div>  
    {{> footer}}
    {{> menu-desctop-nav}}
    <!--<footer class="footer"> ... </footer>-->
    <script src="js/app.min.js"></script>
  </body>
</html>
