@charset 'utf-8';

@import 'slick.scss';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;

// @include foundation-flex-grid;

@include foundation-typography;
@include foundation-button;
@include foundation-forms;

// @include foundation-range-input;

@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;

// @include foundation-progress-element;
// @include foundation-meter-element;

@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
// @include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


@import 'components/fonts';
@import 'components/normalize';
@import 'components/mixins';

.row {
    // padding: 0 10px;
}
// .row .row {
//     margin-left: 0;
//     margin-right: 0;
//     padding-right: 0;
//     padding-left: 0;
// }
.column:first-child {
    // padding-left: 0;
}
.column:last-child {
    // padding-right: 0;
}

hr {
    border-bottom: 2px solid #193161;
    margin: 0;
    margin-top: 3px;
}

a {
    color: inherit;
    &:hover, &:focus {
        color: inherit;
        text-decoration: underline;
    }
}

html {
    background: #fff;
}

body { 
    min-width: $global-width; 
    position: relative;
}

.wrapper {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.va-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    & + img {
        vertical-align: middle;
    }

    & + svg {
        vertical-align: text-top;
    }
}

h5 {
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1;
    vertical-align: -5px;
}

.is-table {
    display: table;
    width: 100%;
}

.is-trow {
    display: table-row;
}
.is-tcell {
    display: table-cell;
}


.wrapper-top {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p {
    margin-bottom: 0.7rem;
}

.button {
	height: 40px;
	width: 100%;
	border-radius: 2px;
	background-image: linear-gradient(45deg, #193161 0%, #4062A6 100%);
	text-align: left;
	position: relative;
	svg {
		position: absolute;
		fill: #fff;
		top: 10px;
		right: 10px;
	}
}

.btn--more {
    max-width: 170px;
    text-align: center;
    margin: 10px 0;
}

select, [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	height: inherit;
	border: none;
	box-shadow: none;
	margin: 0;
	transition: all .2s;

	&:focus {
		background-color: inherit;
		transition: all .2s .1s;
		box-shadow: none;
		& + label {
			// opacity: 1;
		}
	}
}

.column-block {
    margin-bottom: 1.25rem;
}

@media print, screen and (min-width: 40em) {
    .column-block {
        margin-bottom: 1.875rem;
    }
}

@import 'parts/socials';
@import 'parts/header';
@import 'parts/nav';
@import 'parts/main-common';
@import 'parts/menu-main';
@import 'parts/ad';
@import 'parts/sidebar';
@import 'parts/inner-page';
@import 'parts/footer';