<div class="blog__card-large">
	<div class="blog__author">
		<div class="blog__avatar style-bgi is-tcell" style="background-image: url('http://www.fillmurray.com/300/200')">
			<div class="" ></div>
		</div>
		<div class="blog__whois is-tcell">
			<a href="#" class="blog__whois-name">Нина Хрущёва</a>
			<div class="blog__whois-about">Замдекана в нью-йоркском университете Новая школа, старший научный сотрудник Института мировой политики</div>
			<div class="read-more float-left"><a href="#">Другие посты автора ⟶</a></div>
		</div>
	</div>
	<div class="blog__recent column row small-up-2">
		{{> blog__recent-post}}
		{{> blog__recent-post}}
		{{> blog__recent-post}}
		{{> blog__recent-post}}
	</div>
</div>